.header {
  width: 100vw;
  position: relative;
  z-index: 1;
  padding: 18px 5%;
  align-items: center;
  justify-content: center;
}

.logo {
}

nav {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: blue;
}
.menu_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.menu {
  border-radius: var(--borderRadius--medium);
  padding: var(--padding--button);
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.header {
  position: static;
  padding: 28px 52px;
}

.header .gnb {
  display: block !important;
  position: static;
  float: right;
  width: auto;
  margin-top: 6px;
  background: none;
}

.header .gnb li {
  float: left;
  margin-left: 21px;
  border-bottom: 0;
}

.header .gnb li a {
  padding: 0;
  font-size: 16px;
  color: #3f51b5;
}

.header .menu-toggle-btn {
  display: none !important;
}
