body {
  width: 100vw;
  height: 100vh;
}

.slider img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.display-section {
  margin-top: 59px;
  text-align: center;
}

.display-section .hi {
  margin-bottom: 30px;
  font-size: 30px;
  margin-right: 30%;
}

.display-section .introduce {
  color: #616161;
  line-height: 1.9;
  text-align: center;
  justify-content: center;
  margin-left: 0.5%;
}

.container {
  display: flex;
  text-align: center;
  justify-content: center;
}

.promo-list {
  margin-top: 100px;
  display: flex;
  gap: 40px;
}

i {
  font-size: 50px;
  padding-bottom: 30px;
}

p {
  font-size: 15px;
  padding-top: 10px;
}

h3 {
  font-size: 25px;
}

.work-section {
  margin-top: 73px;
}

.work-section .hi {
  width: 90%;
  max-width: 1132px;
  margin: 0 auto;
  margin-bottom: 47px;
  text-align: center;
  font-size: 30px;
}

.gridbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  max-width: var(--maxWidth--desktop);
  margin: 0 auto;
  height: 300%;
}
.box {
  width: 100%;
  height: 300px;
}

.gridbox > div:nth-child(1) {
  background-image: url("../img/main_toss.png");
}

.gridbox > div:nth-child(2) {
  background-image: url("../img/main_toss.png");
}

.gridbox > div:nth-child(3) {
  background-image: url("../img/main_toss.png");
}

.gridbox > div:nth-child(4) {
  background-image: url("../img/main_toss.png");
}

.gridbox > div:nth-child(5) {
  background-image: url("../img/main_toss.png");
}

.gridbox > div:nth-child(6) {
  background-image: url("../img/main_toss.png");
}

@media screen and (max-width: 768px) {
  .gridbox {
    max-width: var(--maxWidth--mobile);
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .box {
    height: 400px;
    width: 100%;
  }
}
